@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Arima', sans-serif;
    font-size: 36px;
    color: blue;
    padding-top: 0.5rem;
    font-weight: 800;
    margin-left: 0.5rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
    margin: 1.6rem 0;
}

h3 {
    font-weight: 800;
    font-size: 1.2rem;
    margin: 1.6rem 0;
}

p {
    font-weight: 400;
    font-size: 18px;
    margin: 1.6rem 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: blue;
}

.head {
    display: flex;
    background-color: #4CAF50;
    justify-content: space-between;
    text-align: center;
}

nav ul {
    display: flex;
}

nav ul li:hover {
    transform: rotate(15deg);
}

nav ul li {
    padding: 1rem;
    font-size: 20px;
    margin: 0.5rem;
}

nav ul li a {
    text-decoration: underline;
}

nav ul li a:hover {
    color: black;
}

main {
    background-color: black;
    background-image: url(./Veronica_An_Image_depicting_Synced_Solution_f0dbde4c-b175-4bb4-9302-f1efec88228d.png);
    background-size: cover;
    text-align: center;
    padding: 10px;
}

main h2 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: red;
    padding: 0.5px;
    margin: 0 5rem;
}

main p {
    color: whitesmoke;
    font-family: 'PlayFair Display', sans-serif;
    font-weight: 400;
    margin: 0 5px;
    padding: 15px 15px;
}